<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Configurações da conexão com o banco de dados -->
        
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property> <!-- Driver de conexão. -->
        
        <property name="connection.url">jdbc:mysql://localhost:3306/jloja</property> <!-- Localização do banco de dados. -->
        <property name="connection.username">root</property> <!-- Usuário do banco de dados. -->
        <property name="connection.password">root</property> <!-- Senha do banco de dados. -->
        <!-- Configurações da conexão com o banco de dados -->

        <!-- Número de conexões -->
        <property name="connection.pool_size">1</property>
		<!-- Número de conexões -->
		
        <!-- Dialeto do banco de dados -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Dialeto do banco de dados -->

        <!-- Gerenciamento automático de sessão através do hibernate -->
        <property name="current_session_context_class">thread</property>
        <!-- Gerenciamento automático de sessão através do hibernate -->

        <!-- Desabitar cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <!-- Desabitar cache  -->

        <!-- Exibir os comandos SQL no console -->
        <property name="show_sql">true</property>
	<!-- Exibir os comandos SQL no console -->
		
		
        <!-- Criar as tabelas no banco de dados -->
        <property name="hbm2ddl.auto">update</property>
        <!-- Criar as tabelas no banco de dados -->
        
        <mapping class="br.com.jloja.entity.FabricanteEntity" />
        <mapping class="br.com.jloja.entity.UsuarioEntity" />
        <mapping class="br.com.jloja.entity.ProdutoEntity" />

    </session-factory>

</hibernate-configuration>